body{
    text-align: center;
}
form {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
label {
  display:block;
  min-width: 90px;
  text-align: left;
}
input{
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-top: 0em;
  border-right: 0em;
  border-left: 0em;
  background-color: #fff;
}

input:focus{
    outline: none;
}