html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#nameedit{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}
#editprofile{
    color: white;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#head{
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
}
#name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 98%;
    font-size: 1.5em;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    border: 1px solid white;
}
#details{
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 98%;
}
#profilephoto{
    height: 100%;
    border: 1px white solid;
    padding: 2px;
}
#bio{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    overflow: scroll;
    scrollbar-width: none;
    padding-left: 2%;
    height: 75%;
    padding-top: 2%;
}
#photo{
    width: 100%;
    padding: 0px;
    margin: 0;
}
#photos{
    width:99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#post{
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}
#uname{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 2px solid white;
    border-collapse: collapse;
}
#caption{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid white;
    border-collapse: collapse;
    border-top: 2px solid gray;
}
@media screen and (min-width: 800px) {
    html{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        width: 80%;
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #nameedit{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    #editprofile{
        color: white;
        font-size: 1.5em;
        height: 100%;
        background-color: black;
        border-bottom: 1px solid white;

    }
    #head{
        display: flex;
        flex-direction: row;
        height: 30vh;
        width: 100%;
        justify-content: space-around;
    }
    #name{
        color: white;
        font-size: 1.5em;
        font-style: bold;
        margin: 0;
        border: 1px solid white;
        padding: 1px 6px 1px 6px;
    }
    #details{
        flex:2;
    }
    #profilephoto{
        height: 100%;
    }
    #bio{
        font-family: 'Courier New', Courier, monospace;
        font-size: 2em;
        height: 75%;
        padding-left: 1%;
        width: 95%;
     padding-left: 2%;
    height: 75%;
    padding-top: 2%;       scrollbar-width: none;
    }
    #photos{
        width:99%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    #post{
        width: 50%;
    }
    #photo{
        width: 100%;
    }
}
