html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#photo {
  width: 100%;
  padding: 0px;
  margin: 0;
}

#photos {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#post {
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
}

#uname {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border: 2px solid white;
  border-collapse: collapse;
}

#caption {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  padding-left: 10px;
  border: 2px solid white;
  border-collapse: collapse;
  border-top: 2px solid gray;
}

.like {
  background-color: black;
  color: red;
}

.liked {
  background-color: red;
  color: black;
}

@media screen and (min-width: 800px) {
  html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    width: 80%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #photos {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  #post {
    width: 52%;
  }

  #photo {
    width: 100%;
  }
}
